# Variáveis de ambiente
.env

# Banco de dados
data.db

# Ambiente Conda
.conda/

# Ambientes virtuais
.venv/
venv/
env/

# VS Code
.vscode/

# Cache do Python
__pycache__/
*.py[cod]

# Streamlit
.streamlit/secrets.toml

# Sistema operacional
.DS_Store
Thumbs.db